{% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Reminder</title>
  <body>
    <header>
      <div class="wrapper">
        <span class="color"
          ><img class="logo" src="{% static 'images\logo.png' %}" alt="logo"
        /></span>

        <nav>
          <ul>
            <li><a href="..">Home</a></li>
            <li><a href="../../services">Services</a></li>
            <li><a >{{username_data}}</a></li>
          </ul>
        </nav>
      </div>
    </header>
    </body>